#gallery-font {
    font-size: 30px;
    font-family: "Arial";
    padding: 15px;
}

.col-lg-4 {
    padding: 10px;
    background-color: lightblue;
}

.col-lg-12 {
    font-size: 50px;
    font-family: "Arial";
    padding: 0px;
    text-align: center;
}

#gallery-text {
    padding: 10px;
    margin: 0;
}

.font {
    font-family: "Century Gothic";
}

#donate-font {
    font-family: "Century Gothic";
    padding: 10px;
}

#donate-pic {
    width: 100%;
    z-index: 0;
}

.carousel-caption {
    padding-bottom: 250px;
}

#donate-text {
    background-color: black;
    opacity: 0.75;
    font-size: 50px;
    padding: 15px;
    font-family: "Century Gothic";
}

.row {
    padding: 10px;
    margin: 0
}
