.heading{
     font-family: "KoHo";font-size: 20px;
    text-align: center;
    color: black;
}
.responsive {
    margin-left: auto;
    margin-right: auto;
    margin align-content: center
    
    width:50px;
    height: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns:33% 33% 33%;
  background-color: cadetblue;
  padding: 5px;
  margin: auto;
  width: 50%;
}
.textbox {
    margin: auto;
    margin align-content: center;
}
body {
    font-family: 'Rancho';font-size: 35px;
    text-align: center;
    color: darkslateblue;
}

